openapi: 3.0.1
info:
  title: Scryfall API
  description: A plugin to fetch Magic: The Gathering card information from the Scryfall API.
  version: 1.0.0
servers:
  - url: https://api.scryfall.com
paths:
  /cards/named:
    get:
      summary: Get a card by name
      operationId: getCardByName
      parameters:
        - name: exact
          in: query
          required: true
          description: The exact card name to search for
          schema:
            type: string
      responses:
        '200':
          description: A card object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          description: Card not found
  /cards/search:
    get:
      summary: Search for cards
      operationId: searchCards
      parameters:
        - name: q
          in: query
          required: true
          description: The full-text search query
          schema:
            type: string
        - name: page
          in: query
          description: The page number to return
          schema:
            type: integer
          required: false
        - name: unique
          in: query
          description: The strategy for omitting similar cards
          schema:
            type: string
            enum: [cards, artworks, prints]
          required: false
        - name: order
          in: query
          description: The sort order of the returned cards
          schema:
            type: string
            enum: [name, set, released, rarity, color, usd, tix, eur, cmc, power, toughness, edhrec, artist, review, flavor, artist_ids]
          required: false
        - name: dir
          in: query
          description: The direction to sort cards
          schema:
            type: string
            enum: [asc, desc]
          required: false
      responses:
        '200':
          description: A list of cards
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Card'
                  has_more:
                    type: boolean
                  next_page:
                    type: string
        '400':
          description: Invalid search query
  /cards/{id}:
    get:
      summary: Get a card by ID
      operationId: getCardById
      parameters:
        - name: id
          in: path
          required: true
          description: The unique ID of the card
          schema:
            type: string
      responses:
        '200':
          description: A card object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Card'
        '404':
          description: Card not found
components:
  schemas:
    Card:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        mana_cost:
          type: string
        type_line:
          type: string
        oracle_text:
          type: string
        set_name:
          type: string
        rarity:
          type: string
        image_uris:
          type: object
          properties:
            small:
              type: string
            normal:
              type: string
            large:
              type: string
            png:
              type: string
            art_crop:
              type: string
            border_crop:
              type: string
